body {
 background-color: #E2F47C;
}
#global {
 width:800px; height:800px;
 margin: 0 auto 0 auto;
 background-color: #ffbbbb;
}
#cabecera {
 width:800px;
 margin: 0 auto 0 auto;
 background-color: #B40068;
}
#navegacion {
 width:780px;
 margin: 0 auto 0 auto;
 background-color: #B4CD00;
}
#principal {
 width:650px;
 margin: 0 auto 0 auto;
 background-color: #ffCD68;
 float: left;
}
.anuncios1 {
 width:150px;
 margin: 0 auto 0 auto;
 background-color: #B4ff68;
 float: right;
}
#pie {
 width:800px;
 margin: 0 auto 0 auto;
 background-color: #B4C355;
 float: left;
}
